{% extends "home.html" %}

{% block container %}
    <div class="sub-menu">
        <div class="row-classic margin-width">
            <div class="column">
                <img class="avatar" alt="Rank" src="{{ url_for('static', filename='assets/images/dmitrii.png') }}"/>
                <p>Dmitrii Crivoi</p>
            </div>
            <div class="column">
                <img class="avatar" alt="Rank" src="{{ url_for('static', filename='assets/images/dmitrii.png') }}"/>
                <p>Dmitrii Crivoi</p>
            </div>
            <div class="column">
                <img class="avatar" alt="Rank" src="{{ url_for('static', filename='assets/images/dmitrii.png') }}"/>
                <p>Dmitrii Crivoi</p>
            </div>
            <div class="column">
                <img class="avatar" alt="Rank" src="{{ url_for('static', filename='assets/images/dmitrii.png') }}"/>
                <p>Dmitrii Crivoi</p>
            </div>
        </div>
    </div>
{% endblock %}
{#<div class="vsk__inline vsk__avatars">#}
{#    <div class="vsk__spacer vsk__avatar">#}
{#        <img alt="Martin" src="../../assets/images/avatar/Martin.png" vskLazyLoad>#}
{#        <p class="vsk__quote">&ldquo; La classe ultime ? <br> La godille skis serrés, sans hésiter. &rdquo;</p>#}
{#        <h4 class="vsk__subtitle">Martin <br> CEO - Directeur Commercial</h4>#}
{#    </div>#}
{#    <div class="vsk__spacer vsk__column vsk__avatar">#}
{#        <img alt="Angelo" src="../../assets/images/avatar/Angelo.png" vskLazyLoad>#}
{#        <p class="vsk__spacer vsk__quote">&ldquo; Le plus important au ski, ce n’est pas les forfaits,<br> c’est ce#}
{#            qu’on en#}
{#            fait. &rdquo;</p>#}
{#        <h4 class="vsk__spacer vsk__subtitle">Angelo <br> Associé - Directeur Informatique</h4>#}
{#    </div>#}
{#    <div class="vsk__spacer vsk__avatar">#}
{#        <img alt="Martin" src="../../assets/images/avatar/Francois.png" vskLazyLoad>#}
{#        <p class="vsk__quote">&ldquo; La classe ultime ? <br> La godille skis serrés, sans hésiter. &rdquo;</p>#}
{#        <h4 class="vsk__subtitle">François <br> Associé - Directeur Commercial</h4>#}
{#    </div>#}
{#</div>#}
