<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CheeseFactorySuperRanker</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/side-menu.css') }}" rel="stylesheet">
</head>
<body>
<div class="side-menu">
    <img class="cheese-img" alt="Cheese" src="{{ url_for('static', filename='assets/images/cheese.png') }}"/>
    <div class="column flex">
        <a class="button_link" href="{{ url_for('rank') }}">
            <div class="circle">
                <img class="circle-img" alt="Rank" src="{{ url_for('static', filename='assets/images/rank.png') }}"/>
            </div>
            <label>Classement</label>
        </a>

        <a class="button_link">
            <div class="circle">
                <img class="circle-img" alt="Rank"
                     src="{{ url_for('static', filename='assets/images/about_us.png') }}"/>
            </div>
            <label>À propos de nous</label>
        </a>

        <a class="button_link disconnect-button" href = "{{url_for('connection')}}">
            <div class="circle">
                <img class="circle-img" alt="Rank"
                     src="{{ url_for('static', filename='assets/images/deconnect.png') }}"/>
            </div>
            <label>Déconnexion</label>
        </a>
    </div>
</div>

<div>
    {% block container %}
    {% endblock %}
</div>
</body>
</html>



