{% extends "home.html" %}

{% block container %}
    <div class="sub-menu">
        <div>
            <p>
                Cliquez sur la photo de votre fromage favoris
            </p>
        </div>
        {% for cheese in cheeses_list %}
            <div class="list-item">
                <div class="row div-hover">
                    <div>
                        <img alt="Rank"
                             src="{{ url_for('static', filename=cheese['urlFlag']) }}"/>
                    </div>
                    <div class="display-align-center">
                        {{ cheese['nom'] }}
                    </div>
                    <form method="POST" action="/modify_cheese">
                        <input type="text" id="idCheese" name="idCheese" value="{{cheese['idCheese']}}" hidden>
                        <button type="submit">
                            <img class="margin-left-auto img-cheese" alt="Rank"
                                 src="{{ url_for('static', filename=cheese['urlImg']) }}"/>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

