{% extends "home.html" %}

{% block container %}
    <div class="sub-menu">
        {% for cheese, flag in cheese_country.items() %}
            <div class="list-item">
                <div class="row div-hover">
                    <div>
                        <img alt="Rank"
                             src="{{ url_for('static', filename=flag) }}"/>
                    </div>
                    <div class="display-align-center">
                        {{ cheese }}
                    </div>
                    <img class="margin-left-auto img-cheese" alt="Rank"
                         src="{{ url_for('static', filename=cheese_photo[cheese]) }}"/>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}

