.margin-width {
    margin: -2rem auto auto;
}

.avatar {
    margin: 0 auto;
    width: 220px;
    height: 220px;
}

h1{
    display: flex;
    margin: auto auto;
    flex-basis: 50%;
    align-items: end;
}

.dmitrii{
    width: 170px;
    height: 184px;
}
