@import "sub-menu.css";
@import "about-us.css";

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-classic{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    height: 3rem;
    width: 100%;
}

.flex {
    flex: 1
}

.display-flex {
    display: flex;
}

.hero.is-primary {
    background-color: #F5B14C;
    color: #fff;
}

.margin-top {
    margin-top: 1rem;
}

.display-align-center {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.margin-left-auto {
    margin-left: auto;
}

.space-evenly{
    justify-content: space-evenly;
}

